<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Looking first Job</title>
</head>
<body>
<section class="header">
    <nav>
        <div class="text-box">
            <h1>Let's start looking first experience</h1>
            <h2>Enter your e-mail</h2>
            <div id="content">
                <form method="post" id="login-form">
                    <input type="text" placeholder="email" name="email">
                    <fieldset>
                        <legend>Choose pages from which you want to get offers:</legend>
                        <label>
                            <input type="checkbox" name="pracuj" > Pracuj.pl
                        </label>
                        <br>
                        <label>
                            <input type="checkbox" name="linkedin" > Linkedin
                        </label>
                    </fieldset>
                    <br>
                    <button type="submit" class="block">Send</button>
                </form>
            </div>
        </div>
    </nav>
</section>
</body>
</html>
